<!DOCTYPE html>
<html>

<head>
  <title>Eriksen Online</title>
  <link href="landing.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id='bannerlanding'>
        Eriksen Online
    </div>
    <div id='body'>
        <ul CLASS='list'>
            <li>
                <p>Karl Eriksen</p>
                <p>IT Consultant / Contractor</p>
                <p>License # 916679</p>
                <p>18800 Valencia Court</p>
                <p>Hesperia CA, 92345</p>
                <p>Mobile: (760) 684-9021</p>
                <p>E-Mail: eriksenonline@gmail.com</p>
                <p>Broadband Internet and Telephone Circuits</p>
                <p>Computer Networks</p>
                <p>Wireless Access Points</p>
                <p>Security Cameras</p>
                <p>Interactive Conference Rooms</p>
                <p>Ceiling Recessed Projectors</p>
                <p>Projectors</p>
                <p>Wall Mount Televisions</p>
            </li>
        </ul>
    </div>
</body>
</html>