<!DOCTYPE html>
<html>

<head>
  <title>HS2Gaming</title>
  <link href="landing_style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id='banner'>
        Eriksen Online
    </div>
    <div id='body'>
        <ul CLASS='list'>
            <li>
                <p>Karl Eriksen</p>
                <p>IT Consultant / Contractor</p>
                <p>License # 916679</p>
                <p>18800 Valencia Court</p>
                <p>Hesperia CA, 92345</p>
                <p>Mobile: (760) 684-9021</p>
                <p>E-Mail: ERIKSENONLINE@GMAIL.COM</p>
            </li>
        </ul>
    </div>
</body>
</html>