<!DOCTYPE html>
<html>

<head>
  <title>HS2Gaming</title>
  <link href="style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="banner">
  <nav class="navigation">
    <ul>
      <li> <%= link_to 'Eriksen Online', root_path -%></li>
      <li><%= link_to 'About', about_path -%></li>
      <li class="logo"><%= link_to 'Contact', contact_path -%></li>
      <li><%= link_to 'Projects', project_path -%></li>
    </ul>
  </nav>
</div>
    
<hr>
</body>
</html>